/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding {padding: 80px 0}

.gray-bg {background-color: #FAFAFA}

.service-bg-1 {background-image: url(../img/author1.png)}
.service-bg-2 {background-image: url(../img/bg2.jpg)}
.service-bg-3 {background-image: url(../img/author2.png)}
.service-bg-4 {background-image: url(../img/author3.png)}

.section-title {
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 25px;
    color: #373737;
}

.single-service-item {
    background: #fff;
    transition: .3s;
}

.service-bg {
    height: 225px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
}

.service-content {
    padding: 20px;
}

body {
    color: #A1A1A1;
    line-height: 2;
}

.service-content h3 {
    color: #373737;
    font-size: 18px;
}

.see-more-btn {
    display: inline-block;
    color: #2ECC71;
    padding: 8px 0;
    border-radius: 50px;
    margin-top: 10px;
    font-weight: 700;
    transition: .3s;
}

.see-more-btn i.fa {
    padding-left: 7px;
}

.see-more-btn:hover {
    background: #2ECC71;
    color: #fff;
    padding: 8px 20px;
}

.single-service-item:hover {
    box-shadow: 0 0 20px #2ECC71;
}