/*Base CSS*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, inpot:focus, textarea:focus, button:focus {outline: 0 solid}
img{
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
   margin: 0 0 15px;
    font-weight: 700;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a:hover{ text-decoration: none}

.section-padding{
    padding: 80px 0;
}

.section-title {
    margin-bottom: 80px;
}

body {
    color: #A9A9A9;
    font-size: 15px;
    line-height: 1.7;
}

h1, h2, h3 {
    color: #333;
}

.section-title h2 {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.section-title h2:before, .section-title h2:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 65px;
    height: 5px;
    content: "";
    background: #A9B1C6;
    border-radius: 50px;
}

.section-title h2:after {
    background: #14ADF3;
    width: 49px;
}
.single-staff-item img {
    max-width: 160px;
    max-height: 160px;
    border-radius: 50%;
}

.staff-meta {
    font-size: 12px;
    color: #d0d0d0;
    margin-top: 15px;
}

.staff-meta h3 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 20px;
}
.staff-list .owl-nav div {
    display: inline-block;
    width: 50px;
    height: 40px;
    background: #F3F3F3;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #6f6d6d;
    margin-right: 3px;
    transition: .3s;
}

.staff-list .owl-nav div:hover {
    background: #14ADF3;
    color: #fff;
}

.staff-list .owl-nav {
    position: absolute;
    right: 0;
    top: -70px;
}

